* {
	margin: 0;
	padding: 0;
}

#infographic {
	grid-column: span 12;
}

.infographic div {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-gap: 10px;


}

.infographic {
	display: grid;
	grid-template-columns: repeat(12, 4.94vw);
	grid-template-rows: repeat(4, 10vw);
	grid-gap: 0.7w;
	grid-row-gap: 50px;
	background-color: transparent;
	height: auto;

}

.info_branding {
	grid-row: 1/2;
	padding: 5px;
	grid-column: 2/4;
	margin-top: 155%;

}

.info_head {
	grid-column: 2/ span 1;
	font-size: 1.2em;
	text-align: center;
	height: 25px;
	z-index: 50;
}

.indhold {
	padding: 5px;
	background-color: #e4e3e2;
	-webkit-box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
	border: 1px solid black;
	width: 150%;
	grid-column: span 2;
	z-index: 100;
}

.info_icon {

	grid-column: 1/1;
	position: relative;
	top: -5%;
	height: 100px;
	left: -18%;

}

.info_text {
	font-size: 0.5em;
	margin: 0 15px;
	grid-column: 2/3;
	width: 150%;
}















.branding_pil {
	position: absolute;
	width: 11vw;
	left: 28vw;
	top: 116.5vw;
}





.design_pil {
	position: absolute;
	top: 127vw;
	width: 8vw;
	transform: rotate(-11deg);
	right: 39vw;
}





.info_vase {
	grid-column: 4 / span 6;
	grid-row-start: 1;
	grid-row-end: 5;
	margin-top: -4%;
}

.info_materialer {
	grid-row: 3/3;
	grid-column: 2/4;
}

.info_glasur {
	grid-row: 1/2;
	grid-column: 10/12;
	margin-top: 67px;
}

.info_design {
	grid-row: 3/3;
	grid-column: 9/11;
}

.vase_img {
	margin-top: -50px;
}










.materialer_pil {
	position: absolute;
	width: 10vw;
	left: 29vw;
	top: 132vw;
}

.info_icon_small {

	grid-column: 1/ span 1;
	width: 103%;
	margin: -12px 24px;
}

.change {
	margin: -16px 18px;
	width: 120%;
}



@media only screen and (max-width: 1300px) {
	#infographic {
		display: none;
	}
	.info_overskrift {
		display: none;
	}
	.vase_titel {
		display: none;
	}
}

.design_pil_glasur_test {
	width: 250%;
	margin-left: -68%;
	margin-top: -57%;
}


.branding_pil_test {
	width: 390%;
	margin-left: 210%;
	margin-top: -157%;
}


.materialer_pil_test {
	width: 384%;
	margin-left: 204%;
	transform: rotate(30deg);
	margin-top: -90%;
}

.design_pil_test {
	width: 310%;
	margin-left: -112%;
	transform: rotate(5deg);

}
