@font-face {
    font-family: BookmanOldStyle;
    src: url(BookmanOldStyle.woff2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'BookmanOldStyle', Calibri, Candara, Segoe, Segoe UI, Optima, Arial;
    text-decoration: none;
}




/********************    forside & overordnet css     **********************/

#wrapper {
    display: grid;
    grid-template-rows: 4vw auto 10vw;
    width: 100%;
    height: 100%;
    background-image: url(image/baggrund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    grid-row: 1/2;
    width: 100%;
    height: 35px;
    background-color: #e4e2e3;
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    position: fixed;
}

nav {
    grid-column: 5/ span 8;
}

.om_slidedown {
    display: none;
    width: 15%;
    position: absolute;
    border-radius: 10%;
    text-align: center;
    background-color: #e4e2e3;
}

.produktudvalg {
    display: none;
    width: 15vw;
    position: absolute;
    border-radius: 10%;
    text-align: center;
    background-color: #e4e2e3;
    margin-left: 18%;
    font-weight: normal;
}

.produktudvalg li {
    display: block;
    margin: 20px;
    border-bottom: 1px solid black;
}



@media only screen and (min-width: 800px) {
    .forside_produkt:hover .produktudvalg {
        display: block;
    }

    .forside_om:hover .om_slidedown {
        display: block;
    }

    .produktudvalg a {
        color: #4E4A51;
    }
}

#normalMenu {

    display: none;

}

.vis_produkt:hover .produktudvalg {
    display: block;
}

.om:hover .om_slidedown {
    display: block;
}



.om_slidedown li {
    display: block;
    margin: 20px;
    border-bottom: 1px solid black;

}

.forside_om ul {
    margin: 0;
}

#banner {
    width: 100%;
    margin-top: 2vw;
    height: 30vw;

    display: grid;
    grid-template-columns: repeat(12, 8.33%);

}


#content {
    grid-row: 2/3;

}

#main_content {
    background-color: #e4e2e3;
    width: 60%;
    min-height: 40vw;
    height: auto;
    margin: 2vw auto;
    padding: 3vw;
}

.produkter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5vw;
    grid-template-rows: 10% auto;
    grid-gap: 45px;
}

.produkt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.produkt_hidden {
    grid-column: span 3;
    width: 100%;
    display: none;

}


.do_something {
    cursor: pointer;
}

.ikon_status_billede {
    position: absolute;
    z-index: 2;
    width: 2vw;
    margin: 1vw 0 0 22vw;

}

.ikon_status_billede_produkt {
    position: absolute;
    z-index: 2;
    width: 3vw;
    margin: 1vw 0 0 36vw;

}


.image-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.image-wrapper img {
    margin: 2px;
}


.produkt:hover .produkt_hidden {
    display: block;
}



.produkt_ikon {
    grid-column: span 3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.produkt_ikon img {
    width: 20%;
}

.enkelt_produkt .produkt {
    grid-column: 2/3;
    grid-gap: 15px;
}

.enkelt_produkt .produkt p {
    width: 100%;
    grid-column: span 3;
    font-size: 1em;

}

.stortbillede {
    grid-column: span 3;
    grid-row-start: 1;
    width: 100%;
    height: 200px;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
}




.lille_billede1,
.lille_billede2,
.lille_billede3 {
    width: 33%;
    height: 33%;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
}

.billede1,
.billede2,
.billede3 {
    width: 100%;
    grid-column: span 1;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
}

.kategori a {
    color: #4E4A51;
}

.info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.events {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.event {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-gap: 0.7%;
    )
}

.event_billede {
    grid-column: span 5;
}

.event_billede img {
    -webkit-box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 10px 42px -5px rgba(0, 0, 0, 0.75);
}

.beskrivelse {
    grid-column: span 5;
}

.welcome {
    margin: 0 auto;
    display: grid;
    justify-items: center;
    width: 55%;
    height: auto;
}

.welcome ul {
    margin-top: 0;
}

.om_slidedown a {
    color: #4E4A51;
}

.logo_forsiden {
    width: 30%;
    margin: 0 0 2vw 0;
}

.logo_forside {
    width: 100%;
}

.index_text {
    font-style: italic;
}

footer {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-gap: 0.37%;
    background-color: #e4e2e3;

}

footer a {
    color: #4E4A51;
}

.some {
    grid-column: 1/2;
    padding: 1vw 0 0 1vw
}

.some img {
    width: 35%
}

.some img:hover {
    width: 40%
}

.kontakt_kort {
    margin: 1.8vw 0 0 0;
    grid-column: 2/4;
}



.krukke {
    grid-column: 12/12;
    width: 4vw;
    margin: 1vw 0 1vw 3vw;
}

footer ul {
    grid-column: 2/4;
    margin: 0;
}


/********     om hanne     **************/

.butik {
    display: grid;
    grid-template-columns: repeat(12, 8%);
    grid-gap: 0.37%;

}

.butik_billed {
    grid-column: span 4;
    width: 100%;
    margin: 10px 0;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
}

.butik_stort {
    grid-column: span 6;
    width: 100%;
    margin: 30px 0;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);

}

.small_img {
    grid-column: span 2;
    width: 100%;
    height: 250px;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);



}

.icon_produkt {
    width: 50%;
    grid-column: 2/3;

}

.big_img {
    grid-column: span 4;
    width: 100%;
    height: 250px;


}

.butik_text {
    grid-column: span 6;
    color: #4E4A51;
    width: 95%;
    padding: 0vw 0vw 0 2vw;
    font-size: 0.8em;
}

.citat {
    grid-column: 4 / span 7;
    text-align: left;
    width: 90%;
    margin: 50px 0
}

.logo_header {
    width: 20%;
    grid-column: span 2;

}



hr {
    background: black;
    width: 100%%;
    height: 0.5px;
    grid-column: 3 / span 8;
    margin: 15px 0;
}

.footermenu {
    margin: 5%;
    text-decoration: none;
}

.footermenu:hover {
    font-size: 1.2em;
}




/********* kontakt ***************/

.map {
    grid-column: span 12;
    width: 100%;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
}

/**********   Produkt siden *************/

.produkt_overskrift {
    grid-column: span 3;
}

.info {
    grid-column: span 3;
}

.enkelt_produkt {
    width: 50%;
    margin: 0 auto;
}



/***********   texture     *************/

ul {
    margin-top: 80px;
}

header ul {

    margin: 0 auto;

}

.butik_text p {
    color: #4E4A51;
    font-family: 'BookmanOldStyle';
    font-weight: 500;
    text-align: left;
}

a {
    color: #E4E2E3;
    font-weight: normal;
}

header li a {
    color: #4E4A51;
    font-size: 0.7em;
}

li {
    display: inline;
    margin: 75px;
    font-size: 20px;
    font-weight: 800;
}

h1 {
    text-align: center;
    font-size: 2em;
    color: #E4E2E3;
    font-family: 'BookmanOldStyle';
    font-weight: normal;
}

.navn_index {

    text-align: center;
    font-size: 3.3em;
    color: #E4E2E3;
    font-family: 'BookmanOldStyle';
    font-weight: normal;
}

#main_content h1 {

    color: #4E4A51;


}

.overskrift_om {
    grid-column: span 12;
    color: #4E4A51;
    font-size: 30px;
}

.produkt h2 {
    grid-column: span 3;
    color: #4E4A51;
    font-size: 0.8em;
}



.produkt_hidden p {
    width: 100%;
    margin: 0;
}

p {
    margin-top: 30px;
    width: 60%;

}

.butik_text p,
h2 {
    text-align: left;
    margin-left: 10px;
    width: 90%;
}

.produkt p,
.beskrivelse p {
    color: #4E4A51;
    text-align: left;

}

headermenu {
    display: block;
}

@media only screen and (max-width: 800px) {
    #headermenu {
        display: none;
    }
    .logo_forside {
        width: 65%;
        margin-left: 15%;
    }

    ul {
        margin-top: 40px;
    }

    li {
        display: block;
        margin: 34px;
        font-size: 20px;
        font-weight: 800;
    }

    nav {
        display: none;
    }

    nav {
        grid-column: span 12;
    }

    #normalMenu {
        display: none;
        background-color: black;
        margin-top: 5%;
    }

    #normalMenu button {
        text-decoration: none;
        border: none;
        z-index: 7;
        border-bottom: 1px solid #2b3940;
        display: block;
        background-color: transparent;
        padding: 4px;
        width: 100%;
        color: #EDE5DF;
        font-family: 'bookman';
        font-size: 1.5em;
        cursor: pointer;
    }

    .logo_header {
        display: none;
    }

    .MenuBackdrop {
        position: fixed;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .accordion {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        color: #444;
        cursor: pointer;
        margin: 2vw;
        padding: 2vw;
        background-color: #4E4A51;
        height: 30px;
        width: 30px;
        text-align: left;
        border-radius: 5px;
        outline: none;
        transition: 0.4s;
        z-index: 10;
    }


    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 3px;
        background-color: #EDE5DF;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    p {
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }

    .butik_text p,
    h2 {

        width: 100%;
    }

    #main_content {
        width: 80%;
        margin: 2vw auto;
    }

    header {
        background-color: transparent;
    }

    .small_img {
        grid-column: span 6;
        width: 100%;
        height: 250px;
    }

    .big_img {
        grid-column: span 6;
        width: 100%;
        height: 250px;
    }

    .produkt {
        grid-column: span 3;
    }

    .produkter {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .butik_stort {
        grid-column: span 12;
        width: 100%;
    }



    .butik_text {
        grid-column: span 12;
        color: #4E4A51;
        width: 100%;
        margin: 0;
    }

    .citat {
        grid-column: 3 / 11;
        text-align: center;
        width: 100%;
        margin: 50px 0;


    }
    .some {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .some img {
        width: 100%;
        grid-column: span 1;
    }



    .footermenu {
        grid-column: 5/6;
        margin: 70%;

    }

    .footermenu a {}
    .event_billede {
        grid-column: span 12;
        -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);

    }

    .beskrivelse {
        grid-column: span 10;
    }
    .enkelt_produkt {
        width: 100%;
        margin: 0 auto;
    }


    .enkelt_produkt .produkt {
        grid-column: span 3;

    }

    .stortbillede {
        grid-column: span 3;
    }

    .stortbillede img {
        width: 100%;

    }

    .icon_produkt {
        width: 50%;
        grid-column: span 1;

    }


    .produkt p {
        margin: 10px;
    }

    .produkt img {}

    .produkt_hidden p {
        width: 90%;

    }

    .lille_billede1 img,
    .lille_billede2 img,
    .lille_billede3 img {
        grid-column: span 1;
        width: 92%;
        margin: 5px;

    }

    .billede1,
    .billede2,
    .billede3 {
        width: 100%;
        -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.75);
    }

    .billede2 {
        grid-column: 2/3;
    }

    .krukke {
        grid-column: 9/12;
        margin-top: 10px;
    }

    .ikon_status_billede {
        position: absolute;
        z-index: 2;
        width: 13vw;
        margin-left: 65vw;

    }

    .ikon_status_billede_produkt {
        position: absolute;
        z-index: 2;
        width: 13vw;
        margin-left: 63vw;

    }

}

.slideshow-container {
    grid-column: 1/ span 12;

}

.icon_billede img {
    height: 50px;
}

.icon_billede {
    display: grid;
    justify-items: center;
}

.status {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

span {
    width: 100%;
    text-align: center;
}

blockquote {
    /* font-family: Georgia, serif; */
    /* font-size: 18px; */
    font-style: italic;
    /* width: 550px; */
    /* margin: 0.25em 0; */
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #E4E2E3;
    text-align: center
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -13px;
    top: -27px;
    color: #E4E2E3;
}


blockquote:after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    left: 627px;
    top: 59px;
    color: #E4E2E3;
}


.titel {
    margin: 0 0 0 20vw;
    font-size: 1.5em;

}


.om_hanne_citat {
    font-style: italic;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #4E4A51;
    text-align: center
}

.om_hanne_citat:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 55px;
    position: absolute;
    left: 16px;
    top: -25px;
    color: #4E4A51;
}

.om_hanne_citat:after {
    display: block;
    padding-left: 10px;
    content: "\201D";
    font-size: 55px;
    position: absolute;
    left: 263px;
    top: 56px;
    color: #4E4A51;
}
