@font-face {
	font-family: bookman;
	src: url(BOKOS.woff2);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'bookman', Calibri, Candara, Segoe, Segoe UI, Optima, Arial;
	text-decoration: none;
}




/********************    forside & overordnet css     **********************/

#main {
	display: grid;
	grid-template-rows: 4vw auto 10vw;
	width: 100%;
	height: 100%;
	background-image: url(image/baggrund.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

header {
	grid-row: 1/2;
	width: 100%;
	height: 35px;
	background-color: #e4e2e3;
	display: grid;
	grid-template-columns: repeat (12, 1fr);
	position: fixed;
}

nav {


	grid-column: 4/ span 8;
}

#banner {
	width: 100%;
	margin-top: 2vw;
	height: 30vw;
	background-color: #708ba3;
}


#content {
	grid-row: 2/3;

}

#main_content {
	background-color: #e4e2e3;
	width: 80%;
	min-height: 40vw;
	height: auto;
	margin: 10vw auto;
	padding: 20px;
}

.produkter {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.produkt {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

}

.enkelt_produkt {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.enkelt_produkt .produkt {
	grid-column: 2/3;
}

.enkelt_produkt .produkt p {
	width: 100%;
	grid-column: span 3;
	font-size: 1em;

}

.stortbillede {
	grid-column: span 3;
}

.stortbillede img {
	width: 100%;
	height: 200px;
}


.lille_billede1 img,
.lille_billede2 img,
.lille_billede3 img {
	width: 100%;
	height: 200px;
}

.kategori a {
	color: #000;
}

.info {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.events {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.event {
	display: grid;
	grid-template-columns: repeat(12, 8%);
	grid-gap: 0.7%;
	)
}

.event_billede {
	grid-column: span 5;
}

.beskrivelse {
	grid-column: span 5;
}

.welcome {
	margin: 0 auto;
	display: grid;
	justify-items: center;
	width: 55%;
	height: auto;
}

.logo_forsiden {
	width: 20%;
}

.logo_forside {
	width: 100%;
}

footer {
	display: grid;
	grid-template-columns: repeat(12, 8%);
	grid-gap: 0.37%;
	background-color: #e4e2e3;

}

footer a {
	color: black;
}

.some {
	grid-column: 1/2;
}

.some img {
	margin: 5%;
	width: 35%
}

.krukke {
	grid-column: 11/12;
}

footer ul {
	grid-column: 2/4;
	margin: 0;
}


/********     om hanne     **************/

.butik {
	display: grid;
	grid-template-columns: repeat(12, 8%);
	grid-gap: 0.37%;

}

.butik_billed {
	grid-column: span 4;
	width: 100%;
	margin: 10px 0;
}

.butik_stort {
	grid-column: span 6;
	width: 100%;
	margin: 30px 0;

}

.small_img {
	grid-column: span 2;
	width: 100%;
	height: 250px;



}

.big_img {
	grid-column: span 4;
	width: 100%;
	height: 250px;


}

.butik_text {
	grid-column: span 6;
	color: black;
	width: 100%;
	margin-top: 30px;

}

.citat {
	grid-column: 5 / span 7;
	text-align: left;
	width: 70%;
	margin: 50px 0;


}

.logo_header {
	width: 20%;
	grid-column: span 2;

}



hr {


	background: black;
	width: 100%%;
	height: 0.5px;
	grid-column: 3 / span 8;
	margin: 15px 0;
}

.footermenu {
	margin: 5%;
	text-decoration: none;
}





/********* kontakt ***************/

.map {
	grid-column: span 12;
	width: 100%;
}

/**********   Produkt siden *************/

.produkt_overskrift {
	grid-column: span 3;
}

.info {
	grid-column: span 3;
}

.enkelt_produkt p {}

/***********   texture     *************/

ul {
	margin-top: 80px;
}

header ul {

	margin: 0 auto;

}

.butik_text p {
	color: black;
	font-family: 'bookman';
	font-weight: 500;
}

a {
	color: white;
}

header li a {
	color: black;
}

li {
	display: inline;
	margin: 75px;
	font-size: 20px;
	font-weight: 800;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: white;
}

#main_content h1 {

	color: black;


}

.overskrift_om {
	grid-column: span 12;
	color: black;
	font-size: 30px;
}

.produkt h2 {
	grid-column: span 3;
}

.produkt_hidden {
	grid-column: span 3;
	width: 100%;
}

.produkt_hidden p {
	width: 100%;
	margin: 0;
}

p {
	margin-top: 30px;
	text-align: center;
	width: 60%;
	color: white;

}

.butik_text p,
h2 {
	text-align: left;
	margin-left: 10px;
	width: 90%;
}

.produkt p,
.beskrivelse p {
	color: #000;
	text-align: left;

}


@media only screen and (max-width: 800px) {
	.logo_forside {
		width: 50%;
	}

	ul {
		margin-top: 40px;
	}

	li {
		display: block;
		margin: 34px;
		font-size: 20px;
		font-weight: 800;
	}

	p {
		margin-top: 30px;
		text-align: center;
		width: 100%;
	}

	.butik_text p,
	h2 {

		width: 100%;
	}

	#main_content {
		width: 80%;
		margin: 2vw auto;
	}

	header {
		display: none;
	}

	.small_img {
		grid-column: span 6;
		width: 100%;
		height: 250px;
	}

	.big_img {
		grid-column: span 6;
		width: 100%;
		height: 250px;
	}

	.produkter {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.butik_stort {
		grid-column: span 12;
		width: 100%;
	}



	.butik_text {
		grid-column: span 12;
		color: black;
		width: 100%;
		margin: 0;
	}

	.citat {
		grid-column: 3 / 11;
		text-align: center;
		width: 100%;
		margin: 50px 0;


	}
	.some {
		grid-column: span 3;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.some img {
		width: 100%;
		grid-column: span 1;
	}

	.footermenu {
		grid-column: 5/6;
		margin: 70%;

	}

	.footermenu a {}
	.event_billede {
		grid-column: span 12;

	}

	.beskrivelse {
		grid-column: span 10;
	}

	.enkelt_produkt .produkt {
		grid-column: span 3;

	}

	.stortbillede {
		grid-column: span 3;
	}

	.stortbillede img {
		width: 100%;
	}

	.produkt p {
		margin: 10px;
	}

	.produkt_hidden p {
		width: 90%;

	}

	.lille_billede1 img,
	.lille_billede2 img,
	.lille_billede3 img {
		grid-column: span 1;
		width: 92%;
		margin: 5px;
	}

	.krukke {
		grid-column: 9/12;
		margin-top: 10px;
	}
}
