@font-face {
    font-family: 'Bookman Old Style';
    src: url('BookmanOldStyle.woff2') format('woff2'),
        url('BookmanOldStyle.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

