#test {
	background-color: #e4e3e2;
	width: 1050px;
	margin: 0 auto;
	height: 800px;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-gap: 20px;
}

.produkt {
	grid-column: span 1;
	background-color: blue;
}

img {
	width: 20%;
	height: 50px;
}


.stortbillede {
	width: 250px;
	height: 100px;
}
